body{
    margin: 0;


    
}

/* HEADER */
.banner{

    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    background-size: 38%;


}

.logo{
    height: 60px;
    margin-top: 60px;

    
}

h1{
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 2px;
}

.credit{
    color: gray;

}

.autor{

    font-weight: bold;

}

.date{
    font-size: 12px;
}

.booleaner{
    color: lightskyblue;
}

/* MAIN */
main, .logo, .title, footer{
    margin-left: 8px;
}

.pics{
    margin-top: 12px;


}

.picsinfo{
    font-size: 12px;
}

.pointout{
    background-color: yellow;
}

ul{
    padding-left: 12px;
}

/* TABELLA */
table{
    border-collapse: collapse;
}

thead{
    background-color: rgb(0, 183, 255);
    color: white;
    text-align: left;
    

}

.tabledescription{
    width: 50%;
}

.bluerow{
    background-color: skyblue;

}

/* FINE TABELLA */

/* footer */
footer{
    font-weight: bold;
}

.advtitle{
    color: grey;
    margin-bottom: 10px;
}

.adv{

    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}



.adv1{
    background-image: url(../img/monitor.jpg);
    margin-bottom: 10px;
    
}

.adv2{
    background-image: url(../img/graph.jpg);
}

.advtext{
    padding-top: 5px;
    margin-left: 10px;
}